
body {
  max-width: 1020px;
  margin: 0;
  font-family: "Lato";
}

/*header*/

header {
    height: 89px;
    background-color: #2d303a;
    padding: 0 40px;
    display: flex;
    
    border-bottom: 6px solid #323746;
}

header div {
  color: #ffffff;
  font-size: 25px;
  line-height: 6px;
  font-weight: 700;
  margin-top: 10px;
}

header div span {
  color: #f06c64;
}

ul {
    margin-left: 100px;
    font-size: 12px;
    line-height: 6px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 700;
}

li {
    list-style-type: none;
    display: flex;
    float: left;
    margin-left: 20px;
    color: #ffffff;
    margin-top: 10px;
}

li:before {
  content: "·";
  padding: 0 13px 0 12px;
  color: #494e62;
}

#first_nav:before{
    content: "";
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
  color: #db3e36;
}

/*main*/

main {
    height: 594px;
    background-color: #f06c64;
    
    border-bottom: 6px solid #ea676b;
}

.arrow-left {
    position: absolute;
    top: 376px;
    left: 42px;
}

.vertical_phone {
    position: absolute;
    left: 110px;
    top: 78px;
}

.horizontal_phone {
    position: absolute;
    top: 164px;
    left: 360px;
}

.arrow-right {
    position: absolute;
    top: 376px;
    left: 964px;
}

.arrow-right:hover {
    padding: 0 1px;
    padding-top: 4px;
    background: #000000;
    border-radius: 20px;
}

.arrow-left:hover {
    padding: 0 1px;
    padding-top: 4px;
    background: #000000;
    border-radius: 20px; 
}

/*footer*/

footer {
    float: left;
    height: 493px;
    background-color: #f2f2f2;
        
    border-bottom: 6px solid #ffffff;
}

.main {
    width:800px;
    margin-left: 50px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 50px;
}

.main h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.secondary {
    float: left;
    padding-left: 100px;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
}

.secondary h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

#pen {
    position: absolute;
    top: 1000px;
    left: 50px;
}

#bulb {
    position: absolute;
    top: 500px;
    left: 460px;
}

#heart {
    position: absolute;
    top: 500px;
    left: 520px;
}

#phone {
    position: absolute;
    top: 500px;
    left: 580px;
}

#bubble {
    position: absolute;
    top: 500px;
    left: 640px;
}

#star {
    position: absolute;
    top: 500px;
    left: 700px;
}